{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('CSS/creationSeance.css') }}"> {% endblock %}
{% block title %}Création d'une séance{% endblock %}

{% block body %}
    <body class="bg-dark">
    <div class="container my-4 justify-content-center">
        {{ form_start(formSeance) }}
        <div class="mb-3">
            <div>
                <div>
                    <label for="datetimepicker1Input" class="form-label" id="labelDate">{{ form_label(formSeance.date) }}</label>
                    <div class="input-group" id="datetimepicker1" data-td-target-input="nearest" data-td-target-toggle="nearest">
                        {{ form_widget(formSeance.date, {'attr': {'id': 'datetimepicker1Input'}}) }}
                        <span class="input-group-text" data-td-target="#datetimepicker1" data-td-toggle="datetimepicker">
                            <i class="bi bi-calendar-fill"></i>
                        </span>
                    </div>
                    {{ form_errors(formSeance.date) }}
                </div>
            </div>
            <label for="searchInput" id="labelSearchInput">Recherche par nom et prénom</label>
            <input class="form-control" type="text" aria-label="Recherche" placeholder="Nom, Prénom..." id="searchInput">
            <label for="adherents-list" id="labelAdherentsList">Adhérents</label>
            <ul class="list-group" id="adherents-list">
                {% for adherent in adherents %}
                    <li class="adherent-checkbox list-group-item" data-id="{{ adherent.id }}" data-nom="{{ adherent.nom }}" data-prenom="{{ adherent.prenom }}">
                        {{ form_widget(formSeance.adherents[adherent.id]) }}
                        {{ form_label(formSeance.adherents[adherent.id]) }}
                    </li>
                {% endfor %}
            </ul>
            <div class="d-flex justify-content-center my-5">
                <button type="submit" class="btn btn-lg btn-primary">Modifier la séance</button>
            </div>
        </div>
        {{ form_end(formSeance) }}
    </div>
    </body>

{% endblock %}

{% block javascripts %}
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            const datetimepicker1 = new tempusDominus.TempusDominus(document.getElementById('datetimepicker1'), {
                localization: {
                    locale: 'fr-FR',
                    format: 'dd/MM/yyyy HH:mm',
                },
                display: {
                    components: {
                        calendar: true,
                        date: true,
                        month: true,
                        year: true,
                        decades: true,
                        clock: true,
                        hours: true,
                        minutes: true,
                        seconds: false
                    },
                    buttons: {
                        today: true,
                        clear: true,
                        close: true
                    },
                    icons: {
                        time: 'bi bi-clock',
                        date: 'bi bi-calendar-week',
                        up: 'bi bi-arrow-up',
                        down: 'bi bi-arrow-down',
                        previous: 'bi bi-chevron-left',
                        next: 'bi bi-chevron-right',
                        today: 'bi bi-calendar-check',
                        clear: 'bi bi-trash',
                        close: 'bi bi-times'
                    },
                },
                stepping: 5 // Permet d'augmenter ou de baisser de 5 minutes les minutes de la séance
            });
            const searchInput = document.getElementById('searchInput');
            const adherentsList = document.getElementById('adherents-list').children;

            searchInput.addEventListener('keyup', function (){
                const valeurInput = searchInput.value.trim().toLowerCase();
                console.log(valeurInput);
                Array.from(adherentsList).forEach(function(element){
                    const nom = element.getAttribute('data-nom').toLowerCase();
                    const prenom = element.getAttribute('data-prenom').toLowerCase();
                    const match = [nom,prenom].find(val => val.trim().toLowerCase().includes(valeurInput));

                    if(match){
                        element.style.display = "";
                    }else{
                        element.style.display = "none";
                    }
                });
            });
        });
    </script>
{% endblock %}

