{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('CSS/ajouterAdherent.css') }}">{% endblock %}
{% block title %}Ajout d'un adhérent {% endblock %}

{% block body %}
    <body class="bg-dark">
        <h1 class="titre">Ajout d'un adhérent</h1>
        <div class="d-flex justify-content-center my-5">
            <a href="{{ path('app_liste') }}" class="btn btn-primary btn-lg">Liste des adhérents</a>
        </div>
        <div class="container my-4 justify-content-center">
            {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.prenom) }}
                {{ form_widget(form.prenom) }}
            </div>
            <div class="mb-3">
                {{ form_label((form.nom)) }}
                {{ form_widget(form.nom) }}
            </div>
            <div class="mb-3">
                <label for="datetimepicker1Input" class="form-label">{{ form_label(form.date_de_naissance) }}</label>
                <div class="input-group" id="datetimepicker1" data-td-target-input="nearest" data-td-target-toggle="nearest">
                    {{ form_widget(form.date_de_naissance, {'attr': {'id': 'datetimepicker1Input'}}) }}
                    <span class="input-group-text" data-td-target="#datetimepicker1" data-td-toggle="datetimepicker">
                        <i class="bi bi-calendar-fill"></i>
                    </span>
                </div>
                {{ form_errors(form.date_de_naissance) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.ceinture) }}
                {{ form_widget(form.ceinture) }}
            </div>

            <div class="d-flex justify-content-center my-5">
                <button type="submit" class="btn btn-primary btn-lg">Ajouter un adhérent</button>
            </div>
            {{ form_end(form) }}
        </div>
        {% block javascripts %}
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const datetimepicker1 = new tempusDominus.TempusDominus(document.getElementById('datetimepicker1'), {
                        localization: {
                            locale: 'fr-FR',
                            format: 'dd/MM/yyyy',
                        },
                        display: {
                            components: {
                                calendar: true,
                                date: true,
                                month: true,
                                year: true,
                                decades: true,
                                clock: true,
                                hours: true,
                                minutes: true,
                                seconds: false
                            },
                            buttons: {
                                today: true,
                                clear: true,
                                close: true
                            },
                            icons: {
                                time: 'bi bi-clock',
                                date: 'bi bi-calendar-week',
                                up: 'bi bi-arrow-up',
                                down: 'bi bi-arrow-down',
                                previous: 'bi bi-chevron-left',
                                next: 'bi bi-chevron-right',
                                today: 'bi bi-calendar-check',
                                clear: 'bi bi-trash',
                                close: 'bi bi-times'
                            },
                        },
                        stepping: 5 // Permet d'augmenter ou de baisser de 5 minutes les minutes de la séance
                    });
                });
            </script>
        {% endblock %}
    </body>
{% endblock %}